<?xml version="1.0" ?>
<model>
    <name>Iris with hbv_1615</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Juan Sandino</name>
        <email>juan.sandino@hdr.qut.edu.au</email>
    </author>
    <description>Iris with hbv_1615 pointing to the vertical (nadir).</description>
</model>
