<?xml version="1.0" ?>
<model>
  <name>HBV-1615 USB Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Juan Sandino</name>
    <email>juan.sandino@hdr.qut.edu.au</email>
  </author>
  <description>This is a model of the HBV-1615 USB RGB camera. The camera modelling is created and maintained by Juan Sandino.
  </description>
</model>
